

body { background-color: hsl(0, 58%, 61%);}
/* Seleciona o corpo inteiro da sua página HTML (o fundo geral do site) */
/* Define a cor de fundo como preto absoluto (HSL: 0 Matiz, 0% Saturação, 0% Luz) */
/* Fecha as regras de estilo do corpo da página */


button{
 /* Seleciona todos os elementos <button> do seu HTML para mudar o visual deles */
/* Fecha o bloco de regras do botão */ 
    background-color: rgb(48, 49, 105); 
    /* Define a cor de fundo (azul escuro) */
    color: rgb(8, 248, 0);             
    /* Define a cor do texto (verde neon) */
    padding: 8px;                       
    /* Espaço interno (distância do texto até a borda) */
    border-radius: 8px;                  
    /* Arredonda os cantos do botão */
    border: none;                         
    /* Remove a borda padrão do navegador */
    margin: 10px;                        
    /* Espaço externo (distância para os outros elementos) */
}


hr {
    border: none;                         
    /* Remove a borda 3D padrão */
    height: 2px;                          
    /* Define a grossura da linha */
    background-color: rgb(27, 35, 105);
    /* Escolha a cor que quiser aqui! */
}




